svg[data-v-f8674e11]{position:absolute;z-index:1;pointer-events:none;width:3rem}@media screen and (max-width: 768px){svg[data-v-f8674e11]{display:none}}@media screen and (min-width: 1200px){svg[data-v-f8674e11]{width:auto}}
